*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;  
}

p {
    margin: 0;
}

.header_first {
    display: flex;
    width: 75%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    display: flex;
    align-items: center;
    padding: 2rem 0;
}
.logo_img {
    width: 4rem;
    margin-right: 1rem;
}

.logo_text {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
}

.logo_text-span {
    font-weight: 400;
    color: #666;
}

.phone_top {
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}

.phone_icon {
    width: 2.5rem;
    height: auto;
    margin-right: 1em;
}

.phone_number {
    font-size: 1.5rem;
}

.phone_number::before {
    content: "¡LLÁMANOS!";
    display: block;
    margin-bottom: 0.8 rem;
    font-size: 1rem;
    font-weight: 300;
    color:#666;
}

.header_nav {
    display: flex;
    align-items: center;
    width: 75%;
    height: 6rem;
    background-color: #9cbc1f;
    border-top: 6px solid #333;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 2rem;
    
}

.menu_link {
    text-decoration: none;
    display: flex;
    padding: 1em;
    height: 6rem;
    align-items: center;
    color: white;
    font-weight: 600;
    letter-spacing: 0.06rem;
}

.menu_link:hover,
.menu_link:active,
.manu_link:checked {
    background-color: #333;
}


.top_search {
    margin-left: auto;
    margin-right: 3rem;
    width: 25%;
    background-color: #333;
    padding: 0.8rem;
    display: flex;
    align-items: center;
}

input[type="text"] {
    outline: none;
    background: none;
    border: none;
    color: white;
    margin-right: 1.5em;
    margin-left: 1em;

}

input[type="submit"] {
    background: url('../icon/search.svg') no-repeat;
    background-position: center;
    background-size: 100%;
    cursor:pointer;
    border: none;
    outline: none;
    width: 20px;
    height: 20px;
    padding: 0;
    
}

.container_img {
    position: relative;
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: relative;
    top: -3rem;
}

figure {
    margin: 0;
    
}

.hero_img {
    display: block;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
}

.container_text {
    position: absolute;
    width: 60%;
    top: 25%;
    left: 20%;
    text-align: center;

}

h2.text_img {
    color: white;
    text-transform: capitalize;
    font-size: 4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    margin:0;
    padding: 0;
    text-shadow: 4px 4px 8px #000;
}

/* start main content */

.about_section {
    width: 70%;
    margin: 0 auto;
}

.about_top {
    width: 100%;
    text-align: center;
}

.about_title {
    color: #000;
    display: inline-block;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.8em;
    padding: 0;
    margin: 0;
}

.about_title::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 4px;
    background-color: #7ebd26
}

.about_text-first,
.about_text-message {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5em;
    font-size: 1.4rem;
}

.about_text-message {
    font-size: 1em;
}

.about_bottom {
    display: flex;
}

.what-we-do {
    margin: 2em 2em 0 0;
}

.what-we-do_title {
    font-size: 2.3rem;
    text-transform: capitalize;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 0 0 0.5em 0;
    margin: 0;
}
.what-we-do_img {
    width: 100%;
}

.what-we-do_message {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    line-height: 1.8;
    padding-top: 1em;
    margin-bottom: 2em;
}

a.readmore {
    text-decoration: none;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-top: 1em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #333;
    letter-spacing: 0.1em;
}

/* start menu acordeon */

.why-choose {
    margin: 2em 2em 0 0;
}

.ac-menu_title {
    font-size: 2.3rem;
    text-transform: capitalize;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 0 0 0.5em 0;
    margin: 0;
}


.ac-menu_container {
    margin: 0 auto;
    text-align: left;
  }
  
  .ac-menu_container input {
    display: none;
  }
  
  .ac-menu_container label {
    height: 30px;
    border: 1px solid #999;
    color: #999;
    padding: 2em 2em;
    position: relative;
    z-index: 20;
    display: block;
    cursor: pointer;
    line-height: 0;
  }

  .ac-menu_container label::after {
    content: "+";
    display: block;
    position: relative;
    float: right;
    width: 24px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 2em;
    padding: 0;
    margin: 0;
  }

  .ac-menu_container label:hover::after {
    content: "-";
    display: block;
    position: relative;
    float: right;
    width: 24px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3em;
    padding: 0;
    margin-left: 10px;
  }
  
  .ac-menu_container article {
    background: #eee;
    overflow: hidden;
    height: 0;
    position: relative;
    z-index: 10;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  }
  
  .item_text {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    line-height: 1.8;
    padding-top: 1em;
    margin-bottom: 2em;
    padding: 1.5em;
  }
  
  .ac-menu_container input:checked ~ article {
    height: auto;
  }